<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.syi.project.mapper.JournalMapper">

	<!-- 일지 등록 -->
	<insert id="journalEnroll">

	insert into journal(journalNo, journalTitle, journalDate, fileNo)
	values(#{journalNo}, #{journalTitle}, #{journalDate}, #{fileNo})

	</insert>

	<!-- 일지 목록 List<> -->
	<select id="journalGetList" resultType="com.syi.project.model.JournalVO">
	
	<![CDATA[
	  	select * from (
				  		select /*+INDEX_DESC(journal SYS_C007451) */ 
				  			rownum as rn, journalNo, journalTitle, journalDate
						from journal 
						where
				]]>
					<if test="keyword != null">
						journaltitle like '%'||#{keyword}||'%' and
					</if>
						
				<![CDATA[		
						 rownum <= #{pageNum}*#{amount}
						)
		where rn > (#{pageNum} - 1) * #{amount}
  	]]>

	</select>
	
	<!-- 일지 총 수 -->
	<select id="journalGetTotal" resultType="int">

		select count(*) from journal

		<if test="keyword != null">

			where journaltitle like '%' || #{keyword} || '%'

		</if>

	</select>
	
	<!-- 일지 상세 -->
	<select id="journalGetDetail" resultType="com.syi.project.model.JournalVO">

	select * from journal where journalNo = #{journalNo}

	</select>
	
	<!-- 일지 수정 -->
	<update id="journalModify">
		update journal 
		set journalNo=#{journalNo}, journalTitle=#{journalTitle},
			journalDate=#{journalDate}, fileNo=#{fileNo} 
		where journalNo = #{journalNo}

	</update>

	<!-- 일지 삭제 -->
	<delete id="journalDelete">
	
	delete from journal where journalNo = #{journalNo}

	</delete>




</mapper>